Flask<3.0.0
Werkzeug<3.0.0
flask-cors
flask-socketio
simple-websocket
python-dotenv
eventlet
opencv-python-headless
numpy
smbus2
ultralytics
onnxruntime
git+https://github.com/ultralytics/CLIP.git
lapx
psutil